# Frontend
NUXT_PUBLIC_API_BASE_URL=http://127.0.0.1:8787
NUXT_PUBLIC_ENTRA_CLIENT_ID=00000000-0000-0000-0000-000000000000
NUXT_PUBLIC_ENTRA_TENANT_ID=common
NUXT_PUBLIC_ENTRA_REDIRECT_URI=http://localhost:3000
NUXT_PUBLIC_DEV_AUTH_BYPASS=true

# API
# Set in wrangler secret/vars:
# ENTRA_AUDIENCE=api://YOUR-APP-ID-URI
# DEV_AUTH_BYPASS=true
# DEV_TENANT_ID=bodner-getraenke.at
